.container {
  display: grid;
  grid-template-columns: 60px 1fr 132px;
  gap: 2rem; //32px
  // padding: 2rem; //32px
}

.contentDescription {
  display: flex;
  gap: 1.75rem; //28px
}

.contentDescription{
  display: flex;

  .description {
    display: flex;
    flex-direction: column;
    gap: .2rem; //3.2px

    h1 {
      font-weight: 600;
      font-size: 2rem; //32px
    }

    p {
      font-weight: 400;
      font-size: 1.2rem; //19.2px
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.badgesBox {
  display: flex;
  flex-direction: row;
  gap: 4rem; //64px
  flex-wrap: wrap;

  .technologies {
    display: flex;
    flex-direction: column;
    gap: .2rem; //3.2px

    h2 {
      font-weight: 300;
      font-size: 1.1rem; //17.6px
    }

    ul {
      display: flex;
      flex-direction: row;
      gap: 9px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.contentLinks {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-items: flex-end;
  gap: .5rem;
  
  button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: .8rem;
    align-items: center;
    gap: .5rem; //8px

    background: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;

    transition: all .2s;

    &:hover {
      transform: scale(0.9);
      border-radius: 15px;
      background: rgba($color: #afafaf, $alpha: 0.3);
    }

    span {
      font-weight: lighter;
      font-size: 1rem; //32px
      color: white
    }
  }
}

@media only screen and (max-width: 850px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .badgesBox {
    gap: 2rem;//16px
  }

  .contentLinks {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}