@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  //Colors
  --color1: #262626;
  --color2: #35363a;
  
  //Gradients
  --gradient: linear-gradient(180deg, #E8E8E8 0%, #CFCFCF 100%);
  --gradient2: linear-gradient(168.51deg, #353635 8%, #313236 92.26%);
  
  //Box Shadows Templates
  --shadowColor: #C4C4C4;
  --shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);

  //Colors Badge
  --js: #F7BA1E;
  --html: #E54D26;
  --css: #379AD5;
  --ts: #1E8FF7;
  --react: #F7861E;
  --vite: #ADD900;
  --sass: #FF78B1;
  --ux: #BF1EF7;
  --mobile: #E52626;
  --responsiveness: #3776D5;
  --gdesign: #C8D537;
}

body {
  color: white;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  background: #4b4b4b; //color unique
}

a {
  color: white;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;

  transition: filter .3s;
  &:hover {
    filter: brightness(.7);
  }
}

::-webkit-scrollbar { // Barra de rolagem
  background: none;
  width: 10px;
}

::-webkit-scrollbar-thumb { //Barra de rolagem
  background: var(--color1);
  border-radius: 15px;
}

::-webkit-scrollbar-button { //Botões de navegação nos cantos inferior da barra.
  background: none;
}

::-webkit-scrollbar-corner { //Botão no canto inferior direito.
  background: none;
}