.workspace {
  display: grid;
  grid-template-rows: 1fr 50px;
  position: relative;
  height: 100vh;
  width: 100vw;

  .desktop {
    padding: 1rem;
  }

  .background {
    display: flex;
    position: absolute;
    z-index: -9999;

    width: 100%;
    height: calc(100vh - 50px);
    background-size: cover;
    background-position: 0 60%;
    background-image: url("/images/daniel-leone-197357-unsplash.jpg");
  }

  .alert {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 9999;

    padding: 0.5rem;
    border-radius: 15px;
    background: rgba(196, 196, 196, 0.16);
  }
}
