  .taskbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: var(--color1);

    .icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      
      gap: 1px;
      
      button {
        background: none;
        font-size: 0;
        border: none;
        
        padding: 0 .7rem;
        height: 100%;

        cursor: pointer;

        &:hover {
          background: hsla(0, 0%, 47%, 0.219);  
        }
        
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 1.5rem;
      
      span {
        font-size: .85rem;
      }
    }
  }