.main {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  .images {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .infos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h1 {
      font-weight: 500;
      font-size: 1.25rem;
    }

    button {
      background: none;
      border: none;

      font-weight: 300;
      font-size: 1rem;
      color: white;
    }

    a {
      cursor: pointer;
    }

    .link {
      cursor: pointer;

      transition: all 0.3s;

      &:hover {
        text-decoration: underline;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}
