.disable {
  display: none !important;
}

.container {
  display: grid;
  grid-template-rows: 32px 1fr;
  position: absolute;

  z-index: 100;

  top: calc(100% / 10);
  left: calc(100% / 10);

  width: 80%;
  height: 60%;

  background: linear-gradient(168.51deg, #353635 8%, #313236 92.26%);
  border-radius: 15px;

  -webkit-box-shadow: 3px 5px 30px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 5px 30px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 5px 30px 1px rgba(0, 0, 0, 0.75);

  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;

    border-radius: 15px 15px 0px 0px;
    background: var(--color1);

    span {
      display: flex;
      justify-self: end;
      font-weight: 500;
      font-size: 1rem;
      color: #e8e8e8;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
  }
}

.max {
  top: 0 !important;
  left: 0 !important;

  width: 100vw;
  height: calc(100vh - 50px);

  border-radius: 0;

  header {
    border-radius: 0;
  }
}

.btnsWindow {
  display: flex;
  flex-direction: row;

  right: 0;
  justify-self: flex-end;
  align-items: center;
  gap: 0.25rem;

  button {
    background: none;
    border: none;

    border-radius: 50%;
    padding: 5px;
    font-size: 0;

    cursor: pointer;

    transition: all 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}
